@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 224 71.4% 4.1%;

        --card: 0 0% 100%;
        --card-foreground: 224 71.4% 4.1%;

        --popover: 0 0% 100%;
        --popover-foreground: 224 71.4% 4.1%;

        /* Martini #af9e9e - Primary */
        --primary: 0 10% 65%;
        --primary-foreground: 224 71.4% 4.1%;

        /* Sirocco #6b7c78 - Info */
        --info: 162 8% 45%;
        --info-foreground: 210 20% 98%;

        /* Aqua Forest #6aaa67 - Success */
        --success: 118 39% 53%;
        --success-foreground: 210 20% 98%;

        /* Fire Bush #e79a2f - Warning */
        --warning: 35 79% 55%;
        --warning-foreground: 210 20% 98%;

        /* Pomegranate #f44336 - Danger */
        --destructive: 4 90% 58%;
        --destructive-foreground: 210 20% 98%;

        --secondary: 220 14.3% 95.9%;
        --secondary-foreground: 220.9 39.3% 11%;

        --muted: 220 14.3% 95.9%;
        --muted-foreground: 220 8.9% 46.1%;

        --accent: 220 14.3% 95.9%;
        --accent-foreground: 220.9 39.3% 11%;

        --border: 220 13% 91%;
        --input: 220 13% 91%;
        --ring: 224 71.4% 4.1%;

        --radius: 0.5rem;

        --chart-1: 0 10% 65%;
        --chart-2: 162 8% 45%;
        --chart-3: 118 39% 53%;
        --chart-4: 35 79% 55%;
        --chart-5: 4 90% 58%;
    }

    .dark {
        --background: 224 71.4% 4.1%;
        --foreground: 210 20% 98%;

        --card: 224 71.4% 4.1%;
        --card-foreground: 210 20% 98%;

        --popover: 224 71.4% 4.1%;
        --popover-foreground: 210 20% 98%;

        /* Martini #af9e9e - Primary */
        --primary: 0 10% 65%;
        --primary-foreground: 224 71.4% 4.1%;

        /* Sirocco #6b7c78 - Info */
        --info: 162 8% 45%;
        --info-foreground: 210 20% 98%;

        /* Aqua Forest #6aaa67 - Success */
        --success: 118 39% 53%;
        --success-foreground: 210 20% 98%;

        /* Fire Bush #e79a2f - Warning */
        --warning: 35 79% 55%;
        --warning-foreground: 210 20% 98%;

        /* Pomegranate #f44336 - Danger */
        --destructive: 4 90% 58%;
        --destructive-foreground: 210 20% 98%;

        --secondary: 215 27.9% 16.9%;
        --secondary-foreground: 210 20% 98%;

        --muted: 215 27.9% 16.9%;
        --muted-foreground: 217.9 10.6% 64.9%;

        --accent: 215 27.9% 16.9%;
        --accent-foreground: 210 20% 98%;

        --border: 215 27.9% 16.9%;
        --input: 215 27.9% 16.9%;
        --ring: 216 12.2% 83.9%;

        --chart-1: 0 10% 65%;
        --chart-2: 162 8% 45%;
        --chart-3: 118 39% 53%;
        --chart-4: 35 79% 55%;
        --chart-5: 4 90% 58%;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}