---

---

<section class="bg-blue-700">
  <div
    class="max-w-2xl mx-auto text-center py-16 px-4 sm:py-20 sm:px-6 lg:px-8"
  >
    <h2 class="text-3xl font-extrabold text-white sm:text-4xl">
      <span class="block">Prêt à optimiser votre fiscalité ?</span>
    </h2>
    <p class="mt-4 text-lg leading-6 text-blue-200">
      Contactez-nous pour un premier rendez-vous gratuit et sans engagement.
    </p>
    <a
      href="#contact"
      class="mt-8 w-full inline-flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-blue-700 bg-white hover:bg-blue-50 sm:w-auto"
    >
      Prendre Rendez-vous
    </a>
  </div>
</section>
